@media(max-width:1300px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container img {
        width: 85%;
        margin-bottom: 2rem;
    }

    .container .description {
        text-align: center;
        align-items: center;
    }

    .container .description h1, .container .description p{
        margin: 3rem 1rem;
    }
    .container .description p{
        padding: 0 26rem;
    }
    .container .description .register{
        width: 30rem;
        margin-bottom: 2rem;
    }
    .footer{
        justify-content: center;
    }
}